<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrOlhbPgl-m3JRM-mblpmD-e0jaqv1CFY</string>
	<key>GCM_SENDER_ID</key>
	<string>271703044719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.jobapp</string>
	<key>PROJECT_ID</key>
	<string>earn-b-xd7y5c</string>
	<key>STORAGE_BUCKET</key>
	<string>earn-b-xd7y5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271703044719:ios:fc9e0b329edd226a4ad39a</string>
</dict>
</plist>